# Основные библиотеки для работы системы
numpy>=1.19.5
opencv-python>=4.5.3
ultralytics>=8.0.0
torch>=1.9.0

# Библиотеки для работы с дронами
dronekit>=2.9.2
pymavlink>=2.4.20
djitellopy>=2.4.0
# olympe  # Только для Linux систем, устанавливается отдельно

# Вспомогательные библиотеки
matplotlib>=3.4.3
pillow>=8.3.2
tqdm>=4.62.3
requests>=2.26.0
scipy>=1.7.1
PyYAML>=5.4.1 